
<h2>Welcome to Top 10 Posts Finder for SubReddits</h2>
<h2>@TempData.Peek("error")</h2>
<form asp-controller="Home" asp-action="TopTen">
    <label>Please enter the subreddit you would like to find:</label>
    <input type="text" name="subreddit" id="subreddit" required />
    <input type="submit" value="Send It!" />
</form>


